@font-face {
  font-family: "Montserrat-Thin";
  src: url("../font/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../font/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat-Bold.ttf");
}
body {
  font-family: "Montserrat-Regular";
  background: #001a30;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background: #003663;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #ffd04f;
}
#navbar {
  background: transparent;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#navbar .brand-logo .logo {
  width: 80px;
}
#navbar .brand-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}
#navbar .nav-link {
  text-transform: uppercase;
  font-size: 0.7rem;
}
#navbar .nav-link:hover {
  color: #ffc21c;
  background: none !important;
  transition: all 0.3s ease-in-out;
}
#navbar .menu {
  color: #ffc21c;
}
.scrolled {
  height: 8vh !important;
  background: #e8aa00 !important;
}
.scrolled .nav-link:hover {
  color: #001a30 !important;
  background: none !important;
}
.scrolled .menu {
  color: #001a30 !important;
}
#slide-out {
  background: #ffc21c;
}
#slide-out .nav-link {
  color: #001a30;
}
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 26, 48, 0.87),
      rgba(0, 0, 0, 0.87)
    ),
    url("../img/hero-photo.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hero .content .hero-header {
  color: #ffc21c;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Montserrat-Medium";
}
#hero .content .hero-desc {
  color: #fff;
  font-size: 0.98rem;
  font-family: "Montserrat-Thin";
}
#hero .indicator {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-5%, -50%);
  transform: rotate(45deg);
  outline: none;
}
#hero .indicator span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #ffc21c;
  border-right: 1px solid #ffc21c;
  animation: wave 1.3s linear infinite;
}
#hero .indicator span:nth-child(1) {
  top: -15px;
  left: -15px;
  animation-delay: 0s;
}
#hero .indicator span:nth-child(2) {
  top: -7px;
  left: -7px;
  animation-delay: 0.2s;
}
#hero .indicator span:nth-child(3) {
  top: 0px;
  left: 0px;
  animation-delay: 0.4s;
}
#hero .indicator span:nth-child(4) {
  top: 7px;
  left: 7px;
  animation-delay: 0.6s;
}
@keyframes wave {
  0% {
    border-color: #ffc21c;
  }
  20% {
    border-color: #825f00;
  }
  20.1%,
  100% {
    border-color: #825f00;
  }
}
#about {
  width: 100%;
  height: 40vh;
  margin: 50px 0;
}
#about .about-content {
  font-size: 1.1rem;
  font-family: "Montserrat-Medium";
  text-transform: uppercase;
}
#about .about-content .special {
  font-size: 5rem;
  color: #ffc21c;
}
#about .about-desc {
  text-align: left;
  font-size: 0.9rem;
}
#board {
  width: 100%;
  height: 85vh;
  padding: 20px;
  background: linear-gradient(
      to bottom,
      rgba(0, 26, 48, 0.87),
      rgba(0, 0, 0, 0.87)
    ),
    url("../img/board-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#board .board-header {
  color: #ffc21c;
  text-align: left;
  text-transform: uppercase;
  font-size: 2.3rem;
}
#board .board-image {
  border: 4px solid #ffc21c;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}
#board .board-image::after {
  content: "More INFO";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
#board .card-title {
  color: #ffd04f;
  font-size: 1.5rem;
  text-transform: uppercase;
}
#board .card-content {
  color: #ffbe0d;
  text-transform: uppercase;
  font-style: 1.1rem;
}
#board .card-desc {
  color: #e8aa00;
  text-transform: uppercase;
  font-size: 0.7rem;
}
#board-modal {
  background: #00223f;
  color: #ffc21c;
  border-radius: 15px;
  padding: 20px 0;
}
#board-modal .row {
  margin-top: 25px;
}
#board-modal .modal-image-large,
#board-modal .modal-image-med,
#board-modal .modal-image-small {
  border-radius: 50%;
}
#board-modal .modal-image-large {
  width: 150px;
  height: 150px;
}
#board-modal .modal-image-med {
  width: 100px;
  height: 100px;
}
#board-modal .modal-image-small {
  width: 80px;
  height: 80px;
}
#board-modal .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#board-modal .reverse {
  flex-direction: row-reverse;
}
#board-modal .column {
  display: block;
}
#board-modal .card-content {
  margin: 15px;
}
#board-modal .card-name {
  text-transform: uppercase;
  font-size: 1.1rem;
}
#board-modal .card-title {
  text-transform: uppercase;
  font-size: 0.7rem;
}
#board-modal .card-name-small {
  font-size: 0.8rem;
}
#board-modal .card-title-small {
  font-size: 0.6rem;
}
#board-modal::-webkit-scrollbar {
  background: #003663;
  width: 10px;
}
#board-modal::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #ffd04f;
}
#history {
  width: 100%;
  height: 100vh;
  padding: 50px 0;
}
#history .history-header {
  text-align: left;
  text-transform: uppercase;
  font-size: 2.3rem;
  color: #ffc21c;
}
#history .history-desc {
  text-align: left;
  font-size: 0.95rem;
}
#history .history-img {
  position: relative;
}
#history img {
  width: 350px;
  height: 350px;
}
#history .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 26, 48, 0.6) 100%,
    rgba(0, 0, 0, 0.6)
  );
}
#history .time-line {
  text-align: left;
}
#history .time-line .date {
  font-size: 1.3rem;
  text-transform: uppercase;
}
#history .time-line .date .special {
  color: #ffc21c;
  position: relative;
  margin-right: 60px;
}
#history .time-line .date .special::after {
  content: "";
  width: 50px;
  margin: 0 10px;
  border-bottom: solid 1px #ffc21c;
  position: absolute;
  left: 150%;
  top: 50%;
  transform: translate(-50%, -150%);
  z-index: 1;
}
#event {
  width: 100%;
  height: 100vh;
  padding: 40px 0;
}
#event .glider-contain {
  position: relative;
}
#event .glider-prev,
#event .glider-next {
  background-color: #ffc21c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  position: absolute;
}
#event .glider-prev:hover,
#event .glider-next:hover {
  color: #001a30;
}
#event .glider-next {
  top: 60%;
  right: 4%;
  transform: translate(-60%, -4%);
}
#event .glider-prev {
  top: 60%;
  left: 5%;
  transform: translate(-60%, -5%);
}
#event .slide {
  text-align-last: left;
  padding: 40px;
}
#event #slide1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 26, 48, 0.87),
      rgba(0, 0, 0, 0.87)
    ),
    url("../img/event-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#event #slide2 {
  background: linear-gradient(
      to bottom,
      rgba(0, 26, 48, 0.87),
      rgba(0, 0, 0, 0.87)
    ),
    url("../img/event-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#event #slide3 {
  background: linear-gradient(
      to bottom,
      rgba(0, 26, 48, 0.87),
      rgba(0, 0, 0, 0.87)
    ),
    url("../img/event-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#event .bg-slider {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#event .event-header {
  color: #ffc21c;
  text-transform: uppercase;
  font-size: 2.3rem;
}
#event .event-header-name {
  color: #ffc21c;
  text-transform: uppercase;
  font-size: 1.3rem;
}
#event .event-desc,
#event .event-time,
#event .event-ticket,
#event .event-contact,
#event .event-price,
#event .event-additional {
  font-family: "Montserrat-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 0.87rem;
}
#event .event-ticket {
  color: #ffd04f;
}
#event .event-price,
#event .event-additional {
  color: #ffc21c;
  margin-top: 20px;
}
#event .event-cta {
  background: #ffc21c;
  color: #001a30;
  text-transform: uppercase;
  font-family: "Montserrat-Bold", sans-serif;
}
#event-modal {
  background: #00223f;
  border-radius: 15px;
  padding: 20px 0;
}
#event-modal label {
  text-transform: uppercase;
  color: #fff2cf;
}
#event-modal .active {
  color: #ffc21c;
}
#event-modal input {
  color: white !important;
  border-bottom-color: #ffc21c !important;
  box-shadow: 0 1px 0 0 #ffc21c !important;
  font-family: "Montserrat-Medium", sans-serif;
}
#event-modal .btn {
  color: white;
  background: #ffc21c;
}
#gallery {
  width: 100%;
  padding: 50px 0;
}
#gallery .gallery-header {
  text-transform: uppercase;
  color: #ffc21c;
  font-size: 2.4rem;
  margin-bottom: 100px;
}
#gallery .filtering {
  border-radius: 30px;
  margin-bottom: 40px;
}
#gallery .filtering .filter,
#gallery .filtering .inner-filter {
  display: inline-block;
  padding: 15px 30px;
  color: #ffc21c;
  background-color: #002d54;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
#gallery .filtering .filter span,
#gallery .filtering .inner-filter span {
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.82rem;
  text-transform: uppercase;
  border-radius: 30px;
}
#gallery .filtering .filter span:hover,
#gallery .filtering .inner-filter span:hover {
  color: #001a30;
  background: #ffc21c;
  background: linear-gradient(
    linear,
    left top,
    right top,
    from(#ffc21c),
    to(#694c00)
  );
  background: linear-gradient(to right, #ffc21c, #694c00);
  transition: all 0.5s ease-in;
}
#gallery .filtering .active {
  color: #001a30;
  background: #ffc21c;
  background: linear-gradient(
    linear,
    left top,
    right top,
    from(#ffc21c),
    to(#694c00)
  );
  background: linear-gradient(to right, #ffc21c, #694c00);
}
#gallery .item .item-img {
  position: relative;
  margin-top: 30px;
}
#gallery .item .item-img:hover .item-img-overlay {
  visibility: visible;
  opacity: 1;
}
#gallery .item .item-img-overlay {
  position: absolute;
  padding: 11px;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: linear-gradient(
    to bottom,
    rgba(0, 26, 48, 0.87),
    rgba(0, 0, 0, 0.87)
  );
  color: #ffc21c;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
#gallery .item .item-img-overlay .material-icons {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
  color: #ffc21c;
  border-radius: 50%;
  border: 1px solid #ffc21c;
  text-align: center;
}
#gallery .row.no-gutters [class*="col"] {
  padding: 0.1rem;
  margin-top: -2.4rem;
}
