#about {
  width: 100%;
  /* NEw Add */
  height: 100vh;
  display: grid;
  place-items: center;
  /* End of add */

  .about-content {
    font-size: 1.1rem;
    font-family: "Montserrat-Medium";
    text-transform: uppercase;

    .special {
      font-size: 5rem;
      color: $accent_color;
    }
  }

  .about-desc {
    text-align: left;
    font-size: 0.9rem;
  }
}
