#navbar {
  background: transparent;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .brand-logo {
    .logo {
      width: 80px;
    }
    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease-out;
    }
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 0.7rem;
    &:hover {
      color: $accent_color;
      transition: all 0.3s ease-in-out;
    }
  }

  .menu {
    color: $accent_color;
  }
}

.scrolled {
  height: 5vh;
  background: $accent_color;

  .nav-link {
    &:hover {
      color: $main_color;
    }
  }
  .menu {
    color: $main_color;
  }
}

#slide-out {
  background: $accent_color;
  .nav-link {
    color: $main_color;
  }
}
